<%- content_for :title do I18n.t('page_titles.shop') end -%>

<div id="portfolio-gallery" class="span12">
<%- if @titles.present? -%>
  <p><%= I18n.t('shop.subhead_categories') %></p>
    <div class="row-fluid">
  <%- @titles.each_with_index do |tag_name, index| -%>
    <%- if (index % 3 == 0) && (index > 0) -%>
    </div>
    <div class="row-fluid">
    <%- end -%>
    <div class="portfolio-thumb span3">
      <%= link_to image_tag(@items[tag_name].thumbnail_filename.to_s), shop_item_category_path(tag_name) %>
      <p><%= @titles.at(index).to_s.capitalize -%></p>
    </div>
  <%- end -%>
<%- else -%>
  <p><%= I18n.t('shop.none_found') %></p>
<%- end -%>
</div>
