  <%- categories = ShopItem.category_counts ; if categories.present? -%>
    <ul>
    <%- categories.each do |c| -%>
      <li><%= link_to c.name, shop_item_tag_path(URI::escape(c.name)) %></li>
    <%- end -%>
    </ul>
  <%- end -%>
