<%- content_for :title do I18n.t('page_titles.shop') end -%>

<div id="portfolio-gallery" class="span12">
<%- @items.each do |i| -%>
  <div id="portfolio-thumb" class="span3">
    <%= link_to image_tag(asset_path("portfolio/" + i.thumbnail_filename.to_s)), shop_path(i.id) %>
    <p><%= i.title -%></p>
  </div>
<%- end -%>
</div>
