<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>The following message was sent from the Contact page of <%= @env %> at <%= @time %>.</p>
    <hr /><p>&nbsp;</p>
    <pre><%= @message %></pre>
    <p>&nbsp;</p></hr>
    <p>The OddityAvenue E-Mail Robot</p>
  </body>
</html>
