<%- content_for :title do I18n.t('page_titles.portfolio_category', :category => params[:category].capitalize) end -%>

<div id="portfolio-gallery" class="span12">
<%- if @items.present? -%>
  <p><%= I18n.t('portfolio.subhead_category') %></p>
    <div class="row-fluid">
  <%- @items.each_with_index do |item, index| -%>
    <%- if (index % 3 == 0) && (index > 0) -%>
    </div>
    <div class="row-fluid">
    <%- end -%>
    <div class="portfolio-thumb span3">
      <%= link_to image_tag(item.thumbnail_filename.to_s), portfolio_path(item.id) %>
      <p><%= item.title -%></p>
    </div>
  <%- end -%>
<%- else -%>
  <p><%= I18n.t('portfolio.none_found_category') %></p>
<%- end -%>
</div>
