  <%- categories = PortfolioItem.where(enabled:true).collect(&:categories).reject(&:blank?).flatten.uniq.sort ; if categories.present? -%>
    <ul>
    <%- categories.each do |c| -%>
      <li><%= link_to c.name, portfolio_item_category_path(URI::escape(c.name)) %></li>
    <%- end -%>
    </ul>
  <%- end -%>
