<%- content_for :title do @item.title end -%>

<div id="portfolio-item" class="span11">
  <div id="portfolio-images" class="span12">
    <%= image_tag @item.image_filename_1.to_s, { alt: "Image 1", class: "span3" } if @item.image_filename_1.present? %>
    <%= image_tag @item.image_filename_2.to_s, { alt: "Image 2", class: "span3" } if @item.image_filename_2.present? %>
    <%= image_tag @item.image_filename_3.to_s, { alt: "Image 3", class: "span3" } if @item.image_filename_3.present? %>
  </div>

  <div class="span12">
    <p><%= @item.description %></p>
  </div>
</div>
