/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 20px;
  padding-bottom: 0;
}

.container {
  max-width: 720px;
}

#header {
  background-image: url('/assets/logo_bg.png');
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2em;
}
#logo {
  height: 125px;
  background-image: url('/assets/logo.png');
  background-repeat: no-repeat;
  background-position: center;
}
#sublogo {
  height: 125px;
  background-image: url('/assets/logo_right.png');
  background-repeat: no-repeat;
  background-position: right;
}

div#form_info p, div#form_errors p {
  border: solid 1px;
  width: auto;
}
div#form_info p {
  border-color: green;
  color: green;
}
div#form_errors p {
  border-color: red;
  color: red;
}

input.button {
  text-align: right;
}

footer p {
  color: gray;
  font-size: x-small;
}

p#copyright {
  float:left;
}

p#commit {
  float: right;
}
