@media (min-width: 767px) {
  #portfolio-gallery div {
    margin: 2em;
  }

  #portfolio-images img {
    margin: 2em;
  }
}

div#portfolio-thumb img {
  width: inherit;
  border: 1px solid black;
}
@media (min-width: 767px) { div#portfolio-thumb img { margin: 0 10%; } }
@media (max-width: 767px) { div#portfolio-thumb img { width: 100%; } }
