<h2><%= t('admin.page_editing') + I18n.t('page_titles.about') -%></h2>
<%= form_tag admin_content_about_path do %>
  <%= text_area_tag :content, @body_text, class: "tinymce span11", rows: 20 %>
  <%= submit_tag "Save", class: "span3" %>
<% end %>
